<div class="mt-4">
    <div class="container-fluid">
        <h3>Register course</h3>

        <div class="input-group mb-3 input-text-item">
            <span class="input-group-text w-25" id="inputGroup-sizing-default">Name course</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3 input-text-item">
            <span class="input-group-text w-25" id="inputGroup-sizing-default">Description</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3 input-text-item">
            <span class="input-group-text w-25" id="inputGroup-sizing-default">Description</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
    </div>
    
</div>